$background: #060818;
$primary: #1976D2;
$secondary: #506690;
$accent: #009688;

// Body
$body-bg: #060818;
$body-font-family: 'Apple SD Gothic','Noto Sans KR','맑은고딕','Nanum Gothic',sans-serif;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;
